.git
.gitignore
.github/
desktop/
docs/
outages/
node_modules/
tests/
clients/
server/
server.py
.venv/
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info
.coverage
coverage.xml
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.vscode/
docker-compose.yml
