.git
.gitignore
.github/
.pytest_cache/
.mypy_cache/
.venv/
.DS_Store
desktop/
docs/
outages/
node_modules/
tests/
clients/
server/
server.py
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
dist/
build/
.vscode/
docker-compose.yml
