blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
diskcache==5.6.3
Flask==3.0.0
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.6
llama_cpp_python==0.3.14
MarkupSafe==3.0.2
numpy==2.0.2
requests==2.32.4
tqdm==4.66.1
typing_extensions==4.14.1
urllib3==2.1.0
Werkzeug==3.0.1
cryptography==45.0.5
python-dotenv==1.1.1
openai==1.93.0
httpx==0.28.1
jsonschema==4.24.0
Flask-Limiter==3.11.0
prometheus_flask_exporter==0.23.2
